.hero {
    background-image: url('https://lh3.googleusercontent.com/pw/AIL4fc_e5HGE348gKfTh1RfVvvHrx_pB5BiAzdNU_DncdHeE46pNTOeq3S2_u0F6N9o7bV_Skbawy7jT-RMEbX54eNXIxobUeEUKi7hh9XXfVg-FpQ4azPgvql0s-fFBYcrqJgJaUOLfjuiQ4dN2QsieoVBq=w954-h637-s-no?authuser=1');
    background-size: cover;
    height: 100vh;
    width: 100%;
}